---
---

@font-face {
  font-family: 'Oswald';
  src: url('{{site.data.config.cdn}}/fonts/Oswald/Oswald-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Work Sans Local';
  src: url('{{site.data.config.cdn}}/fonts/Work_Sans/WorkSans-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Work Sans Bold';
  src: url('{{site.data.config.cdn}}/fonts/Work_Sans/WorkSans-SemiBold.ttf')  format('truetype')
}

@import 'bootstrap';
@import 'variables';

body {
  font-family: "Work Sans", "Work Sans Local";
  &.overlay-open {
    overflow: hidden;
  }
}

.navbar {
  background: white;
  text-align: center;
  p {
    a {
      color: black;
      &:hover {
        text-decoration: underline;
        color: black;
      }
    }

    position: absolute;
    right: 1rem;
    margin: 0;
    padding: 0;
    font-size: 0.725rem;
    line-height: 1.4rem;
  }
  // .activities-dropdown-wrap {
  //   text-align: right;
  // }
  .activities-dropdown {
    color: black;
    letter-spacing: 1px;
    font-family: "Work Sans Bold", "Work Sans Local";
    text-transform: uppercase;
    font-size: 0.9rem;
    text-decoration: none;
    @media screen and (max-width: $break-small) {
      float: right;
      margin-top: 3px;
    }
    :active, :hover {
      text-decoration: none;
    }
  }
  img {
    width: 52px;
    position: absolute;
    margin: 0;
    left: 1rem;
  }
}

.introduction {
  font-size: 1.4rem;
  @media screen and (max-width: $break-small) {
    font-size: 1rem;
  }
  color: $greyText;
  text-align: center;
  p {
    margin-bottom: 0;
  }
  .down-arrow {
    margin: 1rem auto 0rem;
    width: 100px;
    display: block;
  }
}

.card-deck-wrapper {
  margin-bottom: 3rem;
}

.banner {
  width: 100%;
  text-align: center;
  padding: 30vh 0vw;
  margin: 0;
  @media screen and (max-width: $break-small) {
    padding: 6vh 0vw;
  }
  h1 {
    color: black;
    font-size: 3vw;
    img {
      margin: 0 auto 2vh auto;
    }
  }
  h2 {
    color: black;
    font-size: 2vw;
    font-family: "Work Sans", "Work Sans Bold";
    font-weight: 600;
  }
}

.activity-category-layout-1 header.banner {
  padding: 20vh 0vh;
}

.activity-category-layout-2 header.banner {
  padding: 20vh 0vh;
  min-height: 70vh;
  text-align: left;
  overflow: hidden;
}


.activity-category-layout-2 blockquote {
  text-align: center;
  margin-bottom: 0;
}



.card.activity-card {

  @media screen and (max-width: $break-small) {
    h4 {
      font-size: 1.3rem;
    }
  }
  transition: opacity 0.5s ease-out;
  &.not-selected {
    opacity: 0.2;
  }

  &.selected {
    a {
      .card-block {
        border-top: 10px solid black;
      }
    }
  }
  a {
    .card-img-bottom {
      position: relative;
      background-size: cover;
      min-height: 300px;
      @media screen and (max-width: $break-small) {
        min-height: 200px;
      }
    }
    .card-block {
      background: white;
      transition: border-top 0.2s ease-out;
      border-top: 10px solid $grey;
      .card-title {
        color: #000;
      }
      .card-text {
        color: #999;
      }

    }
  }
  a:hover, a:active {
    text-decoration: none;
    .card-block {
      border-top: 10px solid black;
    }
  }
}

.btn-primary {
  background: white;
  color: black;
  border: 1px solid black;
  &:active, &:hover {
    color: white;
    background: black;
    border: 1px solid black;
  }
}

a:hover, a:active {
  .btn-primary {
    background: black;
    color: white;
    border: 1px solid black;
  }
}

.card-deck-wrapper:nth-child(3n) {

}

.card.activity-card:nth-child(2n) {
  // .card-block {
  //   background: black;
  // }
}

.card.activity-card.selected {

}

.activity-page {
  header.banner {
    padding: 10vh 0vh;
    text-align: left;
    h2 {
      text-transform: uppercase;
      margin: 0;
      margin-bottom: -1vh;
      position: relative;
      z-index: 10;
      a {
        color: white;
        display: block;
        cursor: pointer;
      }
    }
  }
}
header.banner { // Logo
  position: relative;
  background-color: $ochre;
  background-image: url('{{site.data.config.cdn}}/img/homepage-background.jpg');
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding: 45vh 0vh;
  margin-top: 40px;
  h1 {
    margin-bottom: 0vh;
    font-family: "Oswald";
    position: relative;
    font-size: 5.8vw;
    z-index: 2;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    @media screen and (max-width: $break-small) {
      font-size: 9.8vw;
    }
    img {
      width: 2.03em;
      margin: 0 auto 0.25em
    }
  }

  h2 {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
}



.banner.signup {
  background-image: url('{{site.data.config.cdn}}/img/mailing-list-bg.jpg');
}

.banner.logo-overlay {
  background-color: $ochre;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.full-width-white {
  background: white;
  padding: 1rem 0rem;
}

.full-width-grey {
  position: relative;
  background: $greyBg;
  padding: 2rem 0rem;
}

.wn {
  position: absolute;
  width: 100%;
  height: calc(100% - 6rem);
  background-image: url('{{site.data.config.cdn}}/img/wilderness_now_logo_01_white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.1;
  overflow: hidden;
  margin: 3rem 0;
  top: 0;
  left: 0;
  z-index: 2;
}

.full-width-image {
  position: relative;
  .container {
    position: relative;
    z-index: 3;
    @media screen and (max-width: $break-small) {
      z-index: 10; // place title over map on small screens
    }
  }

  h4 {
    position: relative;
    z-index: 10;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: white;
    font-family: "Oswald";
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media screen and (max-width: $break-small) {
      font-size: 1rem;
    }
  }
  p {
    color: white;
    font-size: 1.2rem;
    @media screen and (max-width: $break-small) {
      font-size: 1rem;
    }
  }
}

img {
  max-width: 100%;
}

.feature {
  text-align: center;
}

.activity-categories {
  position: relative;
  .heading {
    height: 34px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    margin-top: -16px;
    h4 {
      font-size: 34px;
      line-height: 1;
      margin: 0;
      color: white;
      font-family: "Work Sans Bold";
    }
  }
}

.featured-activity {
  height: 65vh;
  background-color: $ochre;
  background-blend-mode: multiply;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  &:hover {
    //background-color: lighten($ochre, 4%) !important;
    background-blend-mode: multiply;
    a {
      background-position: top center;
      background-size: 400%;
    }
  }
  a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    background-image: url('{{site.data.config.cdn}}/img/wilderness_now_logo_01_white_trans.svg');
    background-size: 0%;
    background-position: center center;
    //-webkit-transition:background-size 1s ease-in;
  }
  h4 {
    height: 34px;
    width: 100%;
    margin-top: -1.5vw;
    top: 50%;
    position: absolute;
    font-family: "Work Sans Bold";
    color: white;
    font-size: 3vw;
    @media screen and (max-width: $break-small) {
      font-size: 10vw;
      margin-top: -5vw;
    }
  }
}




/* Typography */

.section-title {
  text-align: center;
  margin-bottom:  3rem;
}


.full-width-white .btn-primary {
  color: black;
}

.full-width-grey .btn-primary {
  color: black;
}

.blockquote {
  border-left: none;
  line-height: 1.5rem;
  @media screen and (max-width: $break-small) {
    line-height: 1.2rem;
  }
  p {
    font-size: 1.3rem;
    color: black;
    display: inline;
    background: rgba(255,255,255,.7);
    @media screen and (max-width: $break-small) {
      font-size: 1rem;
    }
  }
  cite {
    display: inline;
    padding: 0 0.5rem;
    background: rgba(0,0,0,1);
    color: white;
    font-size: 1.3rem;
    @media screen and (max-width: $break-small) {
      font-size: 1rem;
    }
    &:before {
      content: "–";
    }
  }
}

/* Galleries */

.card-columns {
  img {

  }
}


.morse-divider {
  height: 10px;
  width: 80%;
  background: url('{{site.data.config.cdn}}/img/wilderness_now_morse.svg') no-repeat center center;
  background-size: contain;
  margin: 3rem auto;
  opacity: 0.3;
}

.uk-map {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    overflow: visible;
}

.map-activities {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 7;
  @media screen and (max-width: $break-small) {
    opacity: 0.1;
  }
  ul {
    li {
      font-size: 0.725rem;
      text-align: right;
      text-transform: uppercase;


      display: inline;

      &.highlighted {
        span {
          color: white;
          background: rgba(0,0,0,.4);
          display: inline-block;
        }
      }
      a {
        display: inline-block;
        color: black;
        background: rgba(255,255,255,.7);
        margin-bottom: 0.1rem;
        text-decoration: none;
        float: right;
        clear: right;
        &:hover {
          color: white;
          background: black;
        }
      }
    }
  }
}

.banner-map {
  position: absolute;
  top: 0;
  right: -35%;
  width: 100%;
  height: 100%;
  min-height: 70vh;
  z-index: 4;
  @media screen and (max-width: $break-small) {
    right: 5%;
    opacity: 0.3;
  }
  div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    #bg {
      width: 100%;
    }

    svg {
      opacity: 1;
      position: absolute;
      right: 0;
      width: 100%;
    }
    .text-label {
      display: none;
      position: relative;
      tspan {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
}

#typeform-overlay {
  opacity: 0.3 !important;
}


