---
---

@font-face {
  font-family: 'Oswald';
  src: url('/assets/fonts/Oswald/Oswald-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Work Sans Local';
  src: url('/assets/fonts/Work_Sans/WorkSans-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'Work Sans Bold';
  src: url('/assets/fonts/Work_Sans/WorkSans-SemiBold.ttf')  format('truetype')
}

@import 'bootstrap';
@import 'variables';

body {
  font-family: "Work Sans", "Work Sans Local";
  &.overlay-open {
    overflow: hidden;
  }
}


.navbar {
  background: white;
  text-align: center;
  h2 {
    color: black;
    position: absolute;
    right: 1rem;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .activities-dropdown {
    color: black;
    letter-spacing: 1px;
    font-family: "Work Sans Bold", "Work Sans Local";
    text-transform: uppercase;
    font-size: 0.9rem;
    text-decoration: none;
    :active, :hover {
      text-decoration: none;
    }
  }
  img {
    width: 52px;
    position: absolute;
    margin: 0;
    left: 1rem;
  }
}

.introduction {
  font-size: 1.4rem;
  color: $greyText;
  text-align: center;
  p {
    margin-bottom: 0;
  }
  .down-arrow {
    margin: 0 auto;
    width: 50px;
    height: 12px;
    display: block;
  }
}



.banner {
  width: 100%;
  text-align: center;
  padding: 30vh 0vw;
  margin: 0;
  h1 {
    color: black;
    font-size: 3vw;
    img {
      width: 10vw;
      margin: 0 auto 2vh auto;
    }
  }
  h2 {
    color: black;
    font-size: 2vw;
    font-family: "Work Sans", "Work Sans Bold";
    font-weight: 600;
  }
}

.activity-category-layout-1 header.banner {
  padding: 20vh 0vh;
}

.activity-category-layout-2 header.banner {
  padding: 20vh 0vh;
}

header.banner { // Logo
  position: relative;
  background-color: $ochre;
  background-image: url('/assets/img/wide-mountains.jpg');
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding: 45vh 0vh;
  top: 40px;
  h1 {
    margin-bottom: 0vh;
    font-family: "Oswald";
    position: relative;
    font-size: 6vw;
    z-index: 2;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    img {
      width: 12vw;
      margin: 0 auto 1.2vw;
    }
  }

  h2 {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
}

.banner.create-your-dream {
  background: url('/assets/img/standing.jpg') no-repeat;
  background-size: cover;
}

.banner.mountains-quote {
  background: url('/assets/img/gulley.jpg') no-repeat;
  background-size: cover;
}

.banner.wilderness-quote {
  background: url('/assets/img/hiking.jpg') no-repeat;
  background-size: cover;
}

.banner.signup {
  background-image: url('/assets/img/skiing2.jpg');
}

.banner.logo-overlay {
  background-color: $ochre;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}

.full-width-white {
  position: relative;
  background: white;
  padding: 2rem 0rem;
}

.full-width-image {
  position: relative;
  .container {
    position: relative;
    z-index: 3;
  }
  .wn {
    position: absolute;
    width: 100%;
    height: calc(100% - 6rem);
    background-image: url('/assets/img/wilderness_now_logo_01_white.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.1;
    overflow: hidden;
    margin: 3rem 0;
    top: 0;
    left: 0;
    z-index: 2;
  }
  h4 {
    position: relative;
    z-index: 10;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: white;
    font-family: "Oswald";
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  p {
    color: white;
    font-size: 1.2rem;
  }
}

img {
  max-width: 100%;
}

.feature {
  text-align: center;
}

.activity-categories {
  position: relative;
  .heading {
    height: 34px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    margin-top: -16px;
    h4 {
      font-size: 34px;
      line-height: 1;
      margin: 0;
      color: white;
      font-family: "Work Sans Bold";
    }
  }
}

.featured-activity {
  height: 65vh;
  background-color: $ochre;
  background-blend-mode: multiply;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  &:hover {
    background-color: lighten($ochre, 4%);
  }
  a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
  }
  h4 {
    height: 34px;
    width: 100%;
    margin-top: -1.5vw;
    top: 50%;
    position: absolute;
    font-family: "Work Sans Bold";
    color: white;
    font-size: 3vw;
  }
}




/* Typography */

.section-title {
  text-align: center;
  margin-bottom:  3rem;
}

.btn-primary {
  background: none;
  border-color: $ochre;
}

.btn-primary:hover, .btn-primary:active {
  border-color: $green;
  background: none;
}

/* Galleries */

.card-columns {
  img {

  }
}


.morse-divider {
  height: 10px;
  width: 80%;
  background: url('/assets/img/wilderness_now_morse.svg') no-repeat center center;
  background-size: contain;
  margin: 3rem auto;
  opacity: 0.3;
}
