
    <div id="about-us" class="overlay-contact overlay overlay-slidedown about-us">
      <div class="scroller">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <h1>About Us</h1>
              <p>Our website is currently an information service for UK outdoor adventures. We provide this information for free because we love the UK outdoors and we want to help people get out there. </p>

              <p>We are soon to be a platform enabling people to link directly with the best guides, accommodation and travel providers in the UK.</p>

              <p>If you're a user, let us recommend you some of the best stuff the UK has to offer. If you're a provider, get in touch - we'd love to work with you.</p>

              <p>We would love to hear from you:</p>
              <p>Email: <a href="mailto:hello@wilderness-now.com">hello@wilderness-now.com</a><br>
              Phone: <a href="tel:+44 7925 193 365">+44 7925 193 365</a> </p>
              <p>Thanks, Charles</p>
              <img class="about-signoff img-circle" src="{{site.data.config.cdn}}/img/charles-montier-wilderness-now-square-thumb.jpg" alt="Charles Montier">
            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-1">
              <div class="row">
                <div class="col-md-4 col-xs-6">

                </div>
                <div class="col-md-12 col-xs-12">

                  <div class="team-member">
                    <h3>Charles Montier</h3>
                    <p>I'm an outdoor guide with multiple expeditions in the Amazon, Himalayas and Andes.  But my true passion is for guiding in the UK's wild places, which I truly believe are as beautiful, challenging and inspiring as anything else on the planet! Friends have asked me "Why is it so difficult for people who live in the city to do adventures in the UK?" Wilderness Now is on a mission to solve this!</p>
                  </div>
                  <div class="team-member">
                    <h3>Michael Bruce</h3>
                    <p>I love to surf, to climb, to go trail running in the UK's amazing outdoors - I sit at my desk dreaming about this stuff! But I know it can be hard to find the best guides, accommodation and transport. It shouldn't have to be hard. If you want to get out there - whatever your sport, experience level, or budget - you're the reason we made Wilderness Now.</p>
                  </div>

<!--                   <div class="team-member">
                    <h3>Alasdair Blackwell</h3>
                    <p>I'm an</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- / #contact-us -->
