    {% for activity in site.data[page.slug] %}
      {% assign loopmod = forloop.index0 | modulo: 3 %}
      {% if loopmod == 0 %}
        <div class="card-deck-wrapper ">
          <div class="card-deck cd-{{forloop.index}}">
      {% endif %}

            <div class="card activity-card" id="{{activity.slug}}">
              <a  class="typeform-share link"  href="https://mcb2.typeform.com/to/fR5QxL?activity={{activity.title}}&redirect={{site.data.config.site_url}}" data-mode="1" target="_blank">
                <div class="card-block">
                  <h4 class="card-title">{{activity.title}}</h4>
                  <p class="card-text">{{activity.location}}</p>
                  <button class="btn btn-primary">Explore</button>
                </div>
                <div class="card-img-bottom" style="background-image: url({{site.data.config.cdn}}/{% if activity.image != undefined %}{{activity.image}}{%else%}{{page.image}}{%endif%});" alt="Card image cap">
                  <div class="wn"></div>
                </div>
              </a>
            </div>

      {% if loopmod == 2 or forloop.last %}
          </div><!-- / .card -->
        </div><!-- / .card-deck-wrapper -->
      {% endif %}
    {% endfor %}
