
    <!-- Capture Email -->
    <div class="capture-email" tabindex="-1" role="dialog" aria-labelledby="captureEmail" aria-hidden="true" id="get-notified">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4 col-md-3">
            <img src="{{site.data.config.cdn}}/img/charles-montier-wilderness-now-square-thumb.jpg" alt="Charles Montier" class="img-circle">
          </div>
          <div class="col-xs-8 col-md-9">
            <div class="ask-consent">
              <p>Hey buddy</p>
              <p>Gimme your email and I'll let you know when we good to go? – Charles</p>
              <div class="row">
                <div class="col-xs-12 btn-wrap">
                  <button class="btn btn-primary go-on">Go on</button>
                  <button class="btn btn-danger no-thanks">Nope</button>
                </div>
              </div>
            </div><!-- / .ask-consent -->
            <div class="ask-email">
              <p>Wicked, thanks :)</p>
              <input type="email" placeholder="Your email address">
              <button class="btn btn-primary submit-email">Go</button>
              <button class="btn btn-danger no-thanks">No</button>
            </div><!-- / .ask-consent -->
          </div>
        </div>
      </div>
    </div><!-- /.capture-email -->
