
    <!-- Capture Email -->
    <div class="capture-email" tabindex="-1" role="dialog" aria-labelledby="captureEmail" aria-hidden="true" id="get-notified">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4 col-md-3">
            <img src="{{site.data.config.cdn}}/img/charles-montier-wilderness-now-square-thumb.jpg" alt="Charles Montier" class="img-circle">
          </div>
          <div class="col-xs-8 col-md-9">
            <div class="ask-consent">
              <p>Hey buddy</p>
              <p>Gimme your email and I'll send you cool adventure stuff?  – Charles</p>
              <div class="row">
                <div class="col-xs-12 btn-wrap">
                  <button class="btn btn-primary go-on">Go on</button>
                  <button class="btn btn-danger no-thanks">Nope</button>
                </div>
              </div>
            </div><!-- / .ask-consent -->
            <div class="ask-email">
              <p>Ace, thanks :)</p>
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
                <form action="//wilderness-now.us13.list-manage.com/subscribe/post?u=42b0a3c344a4be90aaeaeaf99&amp;id=5def9768e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">

                    <div class="mc-field-group">
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_42b0a3c344a4be90aaeaeaf99_5def9768e1" tabindex="-1" value=""></div>
                     <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary submit-email">Go</button>

                  </div>
                </form><button class="btn btn-danger no-thanks">No</button>
              </div>

            </div><!-- / .ask-email -->
          </div>
        </div>
      </div>
    </div><!-- /.capture-email -->






    <!--End mc_embed_signup-->
