
    <div id="contact-us" class="overlay-contact overlay overlay-slidedown">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xs-12">
            <h1>Contact Us</h1>
            <p>We'd love to hear from you. Whatever we can do to make your next trip amazing, we'll do it.</p>
            <p>Email us now on:</p>
            <p>
              <a href="mailto:hello@wilderness-now.com">hello@wilderness-now.com</a>
            </p>
          </div>
          <div class="col-lg-4 col-xs-6 profile">
            <img src="{{site.data.config.cdn}}/img/charles-montier-wilderness-now-square-thumb.jpg" alt="Charles Montier" class="img-circle">
            <h3>Charles Montier</h3>
          </div>
          <div class="col-lg-4 col-xs-6 profile">
            <img src="{{site.data.config.cdn}}/img/mike-cb-wilderness-now-square-thumb.jpg" alt="Charles Montier" class="img-circle">
            <h3>Mike Cumming-Bruce</h3>
          </div>
        </div>
      </div>
    </div><!-- / #contact-us -->
