<div class="navbar navbar-light navbar-fixed-top">
        <div class="row">
          <div class="col-xs-3">
            <a href="{{ site.data.config.site_url }}"><img src="{{ site.data.config.cdn }}/img/wilderness_now_logo_01_black.png" alt="WN"></a>
          </div>
          <div class="col-xs-6">

            <a class="activities-dropdown" href="#activities" id="trigger-overlay">
              <div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              Our Activities
            </a>
          </div>
          <div class="col-xs-3">
            <h2>
              Great British Adventures
            </h2>
          </div>
        </div>
    </div>
    <div id="activities" class="overlay overlay-slidedown">
      <button type="button" class="overlay-close">Close</button>
      <nav class="row">
      {% for activity in site.data.parent-activities %}
        {% assign loopmod = forloop.index0 | modulo: 6 %}
        {% if loopmod == 0 %}
        <ul class="col-md-4">
        {% endif %}
          <li><a href="{{ activity.slug }}.html">{{ activity.title }}</a></li>
        {% if loopmod == 5 %}
        </ul>
        {% endif %}
      {% endfor %}
      </nav>
    </div>
