
    <div class="navbar navbar-light navbar-fixed-top">
      <div class="row">
        <div class="col-xs-4 logo">
          <a href="{{ site.data.config.site_url }}"><img src="{{ site.data.config.cdn }}/img/wilderness_now_logo_01_black.svg" alt="Wilderness Now"></a>
        </div><!-- / .logo -->
        <div class="col-xs-4  activities-dropdown-wrap">
          <a class="activities-dropdown trigger-overlay" href="#activities" id="trigger-overlay">
            <span class="words">
              <div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              Our
            </span>
            Activities
          </a>
        </div>
        <div class="col-xs-4">
          <p><a href="https://blog.wilderness-now.com" class="wn-link" title="Wilderness Now's Blog" target="new">Blog</a> <span class="words">\\</span> <a id="trigger-contact-overlay" class="wn-link" href="#about-us">About <span class="words">Us</span></a></p>
        </div>
      </div>
    </div><!-- / .navbar -->

    {% include about-us.html %}

    <div id="activities" class="overlay-navigation overlay overlay-slidedown">
      <nav class="row">{% for activity in site.data.parent-activities %}{% assign loopmod = forloop.index0 | modulo: 7 %}{% if loopmod == 0 %}
        <ul class="col-md-4 col-xs-12">{% endif %}
          <li>
            <a href="{{ site.data.config.site_url }}/{{ activity.slug }}" title="Wilderness Now: {{activity.title}}">{{ activity.title }}</a>
          </li>{% if loopmod == 6 %}
        </ul>{% endif %}{% endfor %}
      </nav>
    </div><!-- / #activities -->



