
    <!-- Prompt activities click -->
    <div class="encourage-activities-click prompt">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4 col-sm-3 img-holder">
            <img src="{{site.data.config.cdn}}/img/charles-montier-wilderness-now-square-thumb.jpg" alt="Charles Montier" class="img-circle">
          </div>
          <div class="col-xs-8 col-sm-9">
            <div class="ask-consent">
              <p>Check out <a href="#activities" class="trigger-overlay">our full range of activities,</a> for all abilities and budgets.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="no-thanks close"></a>
    </div>