    <script src="{{site.data.config.site_url}}/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{{site.data.config.site_url}}/js/raphael-min.js"></script>
    <script type="text/javascript" src="{{site.data.config.site_url}}/js/kartograph.min.js"></script>

    <script src="{{site.data.config.site_url}}/js/activity-coordinates.js"></script>
    <script src="{{site.data.config.site_url}}/js/activity.js"></script>
    <script src="{{site.data.config.site_url}}/js/email-capture.js"></script>


