$red: rgb(255,255,0);
$grey: rgba(0,0,0,.3);
$greyBg: rgb(240,240,240);
$peach: rgb(255, 211, 182);
$green: rgb(0, 204, 116);
$ochre: rgba(208, 159, 0, 0.75);
$greyText: rgb(100,100,100);
$highlight: rgb(255, 82, 0);
$blockHighlight: #454545;
$minty: rgb(0, 255, 161);


$break-small: 768px;