<!DOCTYPE html>
<html>
  <head>
    <title>Wilderness Now</title>
    {% include head-meta.html %}
  </head>
  <body class="activity-category-layout-2 overlay-closed">
    {% include navigation.html %}

    <header class="full-width-image banner logo-overlay" style="background-image: url({{ site.data.activities.[page.slug].image }})">
      <div class="wn"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>
              <img src="/assets/img/wilderness_now_logo_01_white.png" alt="WN">
              {{ site.data.activities.[page.slug].title }}
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-3">
            <blockquote class="blockquote">
              <p class="m-b-0">{{page.quote}}</p>
              <cite>{{page.quoth}}</cite>
            </blockquote>
          </div>
        </div>
      </div>
    </header>


    <div class="full-width-white">
      <div class="container">
         {% include activities-columns.html %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>