<!DOCTYPE html>
<html>
  <head>
    <title>Wilderness Now \\ {{page.title}}</title>
    {% include head-meta.html %}
  </head>
  <body class="activity-category-layout overlay-closed contact-overlay-closed">

    {% include navigation.html %}

    <header class="full-width-image banner logo-overlay" style="background-image: url({{site.data.config.cdn}}/activity-images/{{page.image}})">
      <div class="wn"></div>
      <div class="map-activities">
        <ul>{% for activity in site.data[page.slug] %} {% assign title = activity.title | split: "-" %}
          <li class="{{activity.slug}}">
            <a href="#{{activity.slug}}" title="Wilderness Now: {{activity.title}}" data-slug="{{activity.slug}}" class="activity-link-jump">
              {{title[1]}} \\ {{title[0]}}
            </a>
          </li>{% endfor %}
        </ul>
      </div>
      <div class="banner-map uk-map">
        <div id="map0"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>
              <img src="{{ site.data.config.cdn }}/img/wilderness_now_logo_01_white.png" alt="WN">
              {{ page.title }}
            </h1>
          </div>
          <div class="col-lg-6 col-lg-offset-2 col-md-8">
            <blockquote class="blockquote">
              <p class="m-b-0">{{page.quote}}</p>
              <br>
              <cite>{{page.quoth}}</cite>
            </blockquote>
          </div>
        </div>
      </div>
    </header>

    <div class="full-width-white">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <section class="introduction">
              <p>{{page.includes}}</p>
              <a class="arrow-scroll" href="#{{page.slug}}-activities">
                <img class="down-arrow" src="{{site.data.config.cdn}}/img/scroll_arrow.svg" alt="Down">
              </a>
            </section>
          </div>
        </div>
      </div>
    </div><!-- / .full-width-white -->

    <div class="full-width-grey" id="{{page.slug}}-activities">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-11 col-lg-offset-1 col-md-9">
          {% include breadcrumbs.html %}
          </div>
        </div>
        {% assign dyk = page.dyk | split: "|" %}
        <div class="row activities-wrapper">
          <div class="col-xs-12">{% if page.title != 'Family Adventure' %}
            <h2>Choose your {{page.title | downcase}} adventure:</h2>{% else %}
            <h2>Choose your family adventure</h2>{% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-lg-offset-1 col-md-12 col-md-offset-0">
            <p class="dyk dyk1">{{dyk[0]}}</p>
          </div>
          <div class="col-lg-8 col-md-12 overflow-fix">
            {% include activities-table.html %}
          </div>

        </div>
      </div>
    </div>

    {% include cta-guides.html %}
    {% include footer.html %}
    {% include scripts-activity.html %}
    {% include scripts-general.html %}
  </body>
</html>