<!DOCTYPE html>
<html>
  <head>
    <title>Wilderness Now</title>
    {% include head-meta.html %}
    <style>
      .navbar img {
        position: relative;
        margin-bottom: 1px;
        float: left;
        left: 0;
      }
    </style>
  </head>
  <body class="home overlay-closed">
    {% include navigation-holding.html %}
    <header class="banner">
      <h1>
        <img src="{{site.data.config.cdn}}/img/wilderness_now_logo_01_white.svg" alt="WN">
        Wilderness Now
      </h1>
    </header>
    <div class="full-width-white">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <section class="introduction">
              <p>Wilderness Now is an innovative platform linking you to the UK's best adventures and guides. We’d love the chance to organise your next trip for free (we’re currently testing our site, to make it as good as we can).</p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="full-width-image banner signup logo-overlay">
      <div class="wn"></div>
      <div class="container">

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h4>Let us bring the adventure to you</h4>
            <p>To receive details of UK adventures tailored specifically for you, please share some basic details and we will be in touch.</p>

            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Your name</label>
              <input type="email" class="form-control" id="user-name" placeholder="What's your name?">

              <a class="typeform-share btn btn-primary" href="https://mcb2.typeform.com/to/CSWpkR?name=there" id="email-submit" data-mode="1" target="_blank">Continue</a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{site.data.config.site_url}}js/jquery-2.2.3.min.js"></script>
    <script>
      $(function() {
        $('#user-name').on('keyup', function() {
          var username = $(this).val();
          if (username === '') {
            username = 'there'
          }
          $('#email-submit').attr('href', 'https://mcb2.typeform.com/to/CSWpkR?name='+username);
        })
      })
    </script>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
    <div class="morse-divider"></div>
    {% include analytics.html %}
  </body>
</html>
