<!DOCTYPE html>
<html>
  <head>
    <title>Wilderness Now</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<!--     <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Work Sans:400,600', 'Oswald:400']
        }
      });
    </script>
 -->
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/overlay.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="home overlay-closed">
    <div class="navbar navbar-light navbar-fixed-top">
        <div class="row">
          <div class="col-xs-3">
            <a href="/"><img src="/assets/img/wilderness_now_logo_01_black.png" alt="WN"></a>
          </div>
          <div class="col-xs-6">

            <a class="activities-dropdown" href="#activities" id="trigger-overlay">
              <div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              Our Activities
            </a>
          </div>
          <div class="col-xs-3">
            <h2>
              Great British Adventures
            </h2>
          </div>
        </div>
    </div>
    <!-- open/close -->
    <div id="activities" class="overlay overlay-slidedown">
      <button type="button" class="overlay-close">Close</button>
      <nav class="row">
        <ul class="col-md-4">
        {% for activity in site.data.dropdown.col1 %}
          <li><a href="{{ activity.url }}">{{ activity.text }}</a></li>
        {% endfor %}
        </ul>
        <ul class="col-md-4">
        {% for activity in site.data.dropdown.col2 %}
          <li><a href="{{ activity.url }}">{{ activity.text }}</a></li>
        {% endfor %}
        </ul>
        <ul class="col-md-4">
        {% for activity in site.data.dropdown.col3 %}
          <li><a href="{{ activity.url }}">{{ activity.text }}</a></li>
        {% endfor %}
        </ul>
      </nav>
    </div>
    <header class="banner">
      <h1>
        <img src="/assets/img/wilderness_now_logo_01_white.png" alt="WN">
        Wilderness Now
      </h1>

    </header>

    <div class="full-width-white">
      <div class="container">

        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12">
            <section class="introduction">
              <p>Wilderness Now is a link between you and the feeling of being fully alive that only nature offers. Choose your next Great British adventure by clicking on the images below, or via the 'our activities' dropdown at the top of our homepage.</p>
              <img class="down-arrow" src="/assets/img/down-arrow.png" alt="Down">
            </section>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      {% for activity in site.data.activities %}
       {% for detail in activity %}
        {% if detail.featured %}
          <div class="col-md-{{detail.grid}} col-xs-12 featured-activity featured-mountaineering" style="background-image: url({{detail.image}}">
            <a href="category-page.html">
              <h4>{{detail.title}}</h4>
            </a>
          </div>
        {% endif %}

      {% endfor %}

      {% endfor %}

    </div>

    <div class="full-width-white">
      <div class="container">

        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12">
            <section class="introduction">
              <p>Wilderness Now is a link between you and the feeling of being fully alive that only nature offers. Choose your next Great British adventure by clicking on the images below, or via the 'our activities' dropdown at the top of our homepage.</p>
            </section>
          </div>
        </div>
      </div>
    </div>



    <div class="full-width-image banner signup">
      <div class="wn"></div>
      <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h4>Let us bring the adventure to you</h4>
          <p>We are launching soon. To stay up to date, please give us your email and we will be in touch.</p>
        </div>
      </div>

        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <div class="morse-divider"></div>

    <footer class="full-width-footer">
      <div class="container">

      </div>
    </footer>








    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/modernizr-csstransitions.js"></script>
    <script src="/js/overlay.js"></script>

<!--     <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity="sha384-8mpDLwonQZmbe+NSxlfP47bSD45JOenYvLLJIsxcV6t08mn9aapHSBlcjTlSv+rS" crossorigin="anonymous"></script> -->
  </body>
</html>